<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
">
<!--    自定义标签，引入命名空间-->
    <context:property-placeholder></context:property-placeholder>


    <import resource="applicationContext-import.xml"></import>
<!--    <bean id="beanFactoryService"-->
<!--          name="aaa"-->
<!--          class="Study1.service.BeanFactoryService"-->
<!--          scope="singleton"-->
<!--          init-method="init"-->
<!--          destroy-method="destroy"-->
<!--    >-->
<!--        <constructor-arg name="name" value="yyn">-->
<!--        </constructor-arg>-->
<!--        <property name="beanFactoryDao" ref="beanFactoryDao">-->
<!--        </property>-->
<!--    </bean>-->
<!--    <bean id="beanFactoryDao" class="Study1.Dao.BeanFactoryDao">-->
<!--    </bean>-->

<!-- 静态工厂方式创建 bean -->
    <bean id="beanFactory1" class="Study1.factory.StaticBeanFactory1" factory-method="setStaticBeanFactory">
    </bean>

    <!-- 实例工厂方式创建 bean -->
    <bean id="beanFactory2" class="Study1.factory.BeanFactory2">
    </bean>
    <bean id="beanFactoryDao2" factory-bean="beanFactory2" factory-method="setBeanFactoryDao">
    </bean>

    <!-- FactoryBean 方式规范化创建 bean -->
    <bean id="beanFactory3" class="Study1.factory.FactoryBean3">
    </bean>

    <bean id="beanFactoryService2" class="Study1.service.BeanFactoryService2">
        <property name="beanFactoryDaoList">
            <list>
                <bean class="Study1.Dao.BeanFactoryDao">
                </bean>
                <bean class="Study1.Dao.BeanFactoryDao">
                </bean>
                <bean class="Study1.Dao.BeanFactoryDao">
                </bean>
            </list>
        </property>
        <property name="beanFactoryDaoList2">
            <list>
                <value>123</value>
                <value>yzy</value>
            </list>
        </property>
        <property name="name" value="yyn">
        </property>
        <property name="bean4" >
            <bean id="beanFactoryDao4" class="Study1.Dao.BeanFactoryDao">
            </bean>
        </property>
        <property name="beanSet">
            <set>
                <value>abc</value>
                <value>def</value>
            </set>
        </property>
        <property name="beanMap">
            <map>
                <entry key="name" value="yyn"></entry>
                <entry key="age" value="18"></entry>
            </map>
        </property>
    </bean>

<!--  profile 命名空间-->
    <beans profile="dev">
        <bean id="profileDevBean" class="Study1.Dao.BeanFactoryDao">
        </bean>
    </beans>
    <beans profile="test">
        <bean id="profileTestBean" class="Study1.Dao.BeanFactoryDao">
        </bean>
    </beans>

</beans>
