<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="beanFactoryService" class="Study1.service.BeanFactoryService">
    <property name="beanFactoryDao" ref="beanFactoryDao">
    </property>
</bean>
<bean id="beanFactoryDao" class="Study1.Dao.BeanFactoryDao">

</bean>
</beans>
